@import 'libs/font';
@import 'base/variables';

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Roboto', sans-serif;
}


.container {
    position: relative;
    max-width: 1290px;
    margin: 0 auto;
}

