.btn {
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    background: none;
    border: 1px solid $main-color;
    &:hover {
        background: $main-color;
    }
}

.navbar__btn {
    margin-left: 66px;
    width: 147px;
    height: 38px;
}