.carousel {
    width: 550px;
    height: 305px;
}

.swiper-button-prev, .swiper-button-next {
    background: none;
    border: none;
    content: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    background: none;
    border: none;
    content: none;
}

.arrow {
    width: 19px;
    height: 39px;
}

.swiper-pagination {
    display: none;
}