.footer {
    min-height: 300px;
    background: $main-color;
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    &__wrap {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 95px 0 95px 0;
    }
    &__title__wrap {
        height: 107px;
        width: 241px;
    }
    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
    &__subtitle {
        margin-top: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
    .inst {
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        color: #FFFFFF;
        text-decoration: none;
    }
    &__link__wrap {
        display: flex;
        justify-content: space-between;
        width: 689px;
        padding-left: 27px;
    }
    &__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
}
.footer__tel {
    padding-left: 103px;
}