.hamburger {
    position: absolute;
    top: 754px;
    div {
        margin-top: 20px;
        width: 205px;
        height: 1px;
        background-color: white;
    }
}

.use__hamburger {
    top: 1493px;
    right: 0px;
}

.catalog__hamburger {
    top: 1816px;
}

.stages__hamburger {
    top: 2835px;
}

.examples__hamburger {
    top: 2472px;
    right: 0;
}