.title {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.descr {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
}